 .basketModal {
    position: fixed;
    top: 70px;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 20px;
    color: black;
    overflow-y: auto;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #282e59;
  }
  
  .modalConteyner {
    display: flex;
    flex-direction: column;
  }
  
  .basketProduct {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .basketProductImage {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .basketProductImage img {
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
    padding : 8px;
  }
  
  .basketProductName {
    flex: 1;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .basketPrice {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
  }

  .allPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
  }

