.userIcon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #282e59;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}
  
  

  
