 .paymentPageConteyner{
    padding: 25px 25px;
 }

 .paymentTitle{
    background-color:#00a8a8;
    border-radius: 5%;
  }

 .paymentPage {
    max-width: 600px;
    margin: auto;
  }

  .paymentConteyner{
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .paymentTitle{
    padding: 10px;
  }
  
  .paymentForm {
    padding: 15px 25px;
  }
  
  .logoAndTime {
    display: flex;
    justify-content: space-between;
  }
  
  .ameriBankLogo img {
    max-width: 150px;
  }
  
  .timeEnded p {
    color: red;
    font-weight: bold;
  }
  
  .paymentTitle p,
  .paymentForm h3,
  .paymentForm p {
    margin-bottom: 10px;
    color: #333;
  }
  
  .paymentForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .manthAndYear select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .paymentButton button {
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
  }

  .paymentButton{
    text-align: center;
  }
  
  .sum span{
    background-color : #00a8a8;
    text-align: center;
    padding: 5px 20px;
}

.sum {
    margin:10px 2px;
}

.error {
  color:red;
}